
<!-- ===== CONTACT PAGE ===== -->
<div class="innerpage-header contact-header">
    <div class="container">
        <h1 class="contact-us-text">Contact Us</h1>
        <p class="header-text contact-us-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
    </div>
</div><!--innerpage-header-->

<div class="container inner-content">
    <div class="col-md-9 cf-wrapper">
        <iframe class="contact-us-form-desktop" src="@Url.Action("ContactUs", "Home")" frameborder="0" height="500px" width="100%" scrolling="no"></iframe>
        <iframe class="contact-us-form-mobile" src="@Url.Action("ContactUs", "Home")" frameborder="0" height="800px" width="100%" scrolling="no"></iframe>
    </div>

    <div class="col-md-3 c-info">
        <h2>Contact Information</h2>
        <h3>Mail</h3>
        <span>123-5234 Oak Street</span>
        <span>Toronto, ON</span>
        <span>M89 3G7</span>
        <span>Canada</span>
        <h3>Email</h3>
        <a href="mailto:wirelesswave@email.com">wirelesswave@email.com</a>
    </div><!--c-info-->
</div><!--inner-content /container-->
<br />
<br />
<br />
<!-- END OF CONTACT PAGE -->
