@charset "UTF-8";

h1 {
    letter-spacing: 0px;
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: #32a5db;
    position: absolute;
    font-size: 24px;
    left: 32%;
    top: 55%;
    -webkit-transform: translate(-22%, -59%);
    -moz-transform: translate(-22%, -59%);
    -ms-transform: translate(-22%, -59%);
    transform: translate(-22%, -59%);
}

input[type="checkbox"] {
    border-radius: 0px;
}

.advanced-options .btn i {
    margin-top: 7px;
    position: absolute;
}

.fd-advanced-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00ffffff', GradientType=0 ); /* IE6-9 */
}

.innerpage-static-banner .static-banner-btns a {
    padding: 12px 15px;
}

.innerpage-static-banner.banner-short .static-banner-list {
    width: 32%;
    margin: 0 auto;
    font-size: 22px;
}

.best-sellers h2 {
    font-size: 18px;
}

@media (max-width: 990px) {
    .innerpage-static-banner.banner-3 .static-banner-list {
        width: 50%;
    }

    .innerpage-static-banner .static-banner-btns a, .innerpage-static-banner .static-banner-btns a:last-child {
        width: 160px;
    }
}

@media (max-width: 600px) {
    .best-sellers .featured-phone .featured-phone-img img {
        width: inherit;
    }
}

@media (max-width: 450px) {
    .innerpage-static-banner.banner-3 .static-banner-list {
        width: 80%;
    }
}
/* Home page Carrier logos */
.carrier-logos {
    text-align: center;
    margin-top: 35px;
}

.carrier-logos .col-xs-4.col-sm-2 {
    height: 80px;
}

.home-Rogers-logo img {
    width: 140px;
}

.home-Bell-logo img {
    width: 50px;
}

.home-Fido-logo img {
    width: 100px;
}

.home-Virgin-Mobile-logo img, .home-Chatr-logo img {
    width: 82px;
}

.home-Sasktel-logo img {
    width: 120px;
}

.home-carriers img {
    opacity: 0.6;
}

.home-carriers img:hover {
    opacity: 1;
}

.home-carriers {
    margin-bottom: 20px;
}
/*brands*/
.brand-tab img {
    vertical-align: middle;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.6;
}

.brand-tab img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.brand-tab .carrier-logos div {
    width: 220px;
}

.brand-tab .carrier-logos {
    text-align: center;
    line-height: 90px;
    margin-top: 0px;
}

.brand-tab img:hover {
    opacity: 1;
}

.home-apple-logo img {
    width: 40px;
}

.home-samsung-logo img {
    width: 140px;
}

.home-lg-logo img {
    width: 85px;
}

.home-google-logo img {
    width: 110px;
}

.home-android-logo img {
    width: 45px;
}

.home-carriers .carrier-logos {
    text-align: center;
    margin-top: 0px;
}

@media (max-width:1260px) {
    .carousel-inner > .item > a > img {
        width: 90%;
        margin: 0 auto;
    }

    .image-carousel .carousel-control .icon-next {
        right: 20px;
    }

    .image-carousel .carousel-control .icon-prev {
        left: 20px;
    }
}

@media (max-width:1219px) {
    .carrier-logos {
        width: 100%;
    }

    .carrier-title {
        text-align: center;
    }

    .home-Bell-logo img {
        width: 42px;
    }

    .home-Fido-logo img {
        width: 85px;
    }

    .home-Virgin-Mobile-logo img, .home-Chatr-logo img {
        width: 70px;
    }

    .home-Sasktel-logo img {
        width: 110px;
    }

    .brand-tab .carrier-logos div {
        width: 180px;
    }
}

@media (max-width:992px) {
    .brand-tab .carrier-logos div {
        width: 135px;
    }

    .home-apple-logo img {
        width: 35px;
    }

    .home-samsung-logo img {
        width: 110px;
    }

    .home-lg-logo img {
        width: 68px;
    }

    .home-google-logo img {
        width: 87px;
    }

    .home-android-logo img {
        width: 38px;
    }

    .home-Virgin-Mobile-logo img, .home-Chatr-logo img {
        width: 62px;
    }

    .home-Bell-logo img {
        width: 40px;
    }

    .home-Fido-logo img {
        width: 75px;
    }
}

@media (max-width:768px) {
    .carrier-logos .home-Virgin-Mobile-logo img, .carrier-logos .home-Chatr-logo img {
        width: 60px;
    }

    .carrier-logos .home-Sasktel-logo img, .carrier-logos .home-Rogers-logo img {
        width: 105px;
    }

    .carrier-logos .home-Bell-logo img {
        width: 40px;
    }

    .carrier-logos .home-Fido-logo img {
        width: 75px;
    }

    .carrier-logos .col-xs-4.col-sm-2 {
        height: 55px;
    }

    .home-carriers .carrier-logos div {
        width: 33.3%;
        text-align: left;
    }

    .home-apple-logo img {
        width: 30px;
    }

    .home-samsung-logo img {
        width: 120px;
    }

    .home-lg-logo img {
        width: 75px;
    }

    .home-google-logo img {
        width: 90px;
    }

    .home-android-logo img {
        width: 35px;
    }

    .brand-tab .carrier-logos div {
        width: 33.3%;
        text-align: left;
    }

    .brand-tab {
        margin-bottom: 40px;
    }
}

@media (max-width:600px) {
    .carrier-logos .home-Sasktel-logo img {
        width: 90px;
    }
}

@media (max-width:500px) {
    .brand-tab .carrier-logos div {
        width: 50%;
    }
}

@media (max-width:400px) {
    .home-carriers .carrier-logos div {
        width: 50%;
    }
}

.dropdown-menu > li > a {
    color: #126389;
}

.fd-advanced .fd-advanced-wrap label {
    font-size: 15px;
}

.landing-phones .landing-product {
    min-height: 271px;
}

.pagination .fa {
    margin-top: 6px;
}

.product-detail-sideInfo .product-detail-size button,
.product-detail-title.visible-xs .product-detail-size button {
    border-right: 1px solid #ddd;
    padding: 0 10px 0 5px;
}

.product-detail-sideInfo .product-detail-size button:last-child,
.product-detail-title.visible-xs .product-detail-size button:last-child {
    border: none;
}

.lifestyle-feature {
    margin: 50px 0px;
    color: #666;
    background-repeat: no-repeat;
    background-position: center center;
}

.full-background.vertical-center-parent {
    display: table;
}

.full-background {
    margin: auto;
    height: 480px;
}

.lifestyle-feature.full-background > div > div {
    background: rgba(0, 0, 0, 0.5);
    color: #fdfdfd;
    padding: 4px;
}

.lifestyle-feature .header-text {
    font-size: 30px;
}

.full-background .vertical-center {
    display: table-cell;
    vertical-align: middle;
    float: none !important;
}

.lifestyle-feature > div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.full-background > div {
    margin: 0 auto;
    float: none;
}

@media (min-width: 481px) {
    .vertical-center {
        display: table-cell;
        vertical-align: middle;
        float: none !important;
    }
}

#product-carousel .carousel-inner .item {
    position: relative;
}

#product-carousel .carousel-inner .item, .active {
    height: 100%;
}

.product-detail-topInfo .product-detail-carousel > .carousel > .carousel-inner > .item > img {
    max-height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.product-detail-topInfo ul.thumbnails-carousel li {
    position: relative;
}

.thumbnails-carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

button[disabled] {
    opacity: 0.4 !important;
    cursor: not-allowed !important;
}

button.product-color-swatch[disabled] {
    opacity: 0.1 !important;
}

.product-detail-contract-name {
    font-weight: bold;
    margin-top: 14px;
    float: left;
}

.accessories-icons input.search {
    width: auto;
    padding: 7px 15px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', helvetica, arial, sans-serif;
    font-weight: 600;
    margin: 0 auto;
}

input.search {
    background: #32a5db;
    color: #fff;
    border: none;
    padding: 9px 40px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-transform: uppercase;
    width: 190px;
    font-size: 16px;
    margin: 20px auto;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.landing-sidebar .sidebar-drop, .styled-drop {
    background: #fff;
}

.slider {
    margin-top: 20px;
}

.btn-blue {
    display: inline-block !important;
    background: #32a5db;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0px;
    font-family: 'Ubuntu-light';
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.05em;
}

#navbar .dropdown-lists a.nav-find-btn.btn-blue {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    letter-spacing: normal;
    padding: 12px 20px;
    margin-bottom: 20px;
}

#navbar .dropdown-lists a.nav-find-btn.btn-blue .fa {
    margin-left: 50px;
    margin-top: 3px;
}

.product-selection-details select {
    background-color: #fff;
}

.product-selection-details .product-detail-color-wrap {
    margin-top: 20px;
}

.product-selection-details .product-detail-color-wrap .product-color-swatch {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    margin-top: 0 !important;
}

.product-selection-details .product-detail-color-wrap .product-color-swatch.active {
    border: 2px solid #32a5db;
    width: 19px;
    height: 19px;
}

.product-selection-details .product-detail-size button {
    background: none;
    border: none;
    color: #32a5db;
    padding: 0 10px 0 0;
    margin-top: 0;
    width: auto !important;
    font-size: 15px;
}

.product-selection-details .product-detail-size button.active,
.product-selection-details .product-detail-size button:hover {
    font-weight: 600;
}

.product-selection-details .product-detail-size button:first-child {
    border-right: 1px solid #ddd;
    padding: 0;
}

.remove-item {
    color: #000;
}

.qty-wrap {
    margin-top: 30px;
    font-size: 24px;
}

.btn-qty, .btn-qty:hover {
    color: #fff;
    background-color: #32a5db;
    border-color: #32a5db;
    font-size: 12px;
}

.btn-qty .fa-minus {
    display: inline;
}

#cart-empty {
    margin: 100px 0;
    color: #ff0000;
}

#cart-dropdown {
    min-width: 300px;
    padding: 12px 10px;
}

#cart-dropdown li {
    width: 100% !important;
    line-height: normal;
    text-align: center;
}

#cart-contents {
    margin: auto;
    width: 100%;
}

#cart-contents .cart-empty-message td {
    text-align: center;
    padding: 0 20px;
}

#cart-contents td {
    padding: 10px 0;
}

.cart-item-desc {
    font-size: 14px;
    padding-left: 10px !important;
    text-align: left;
    vertical-align: top;
}

.cart-item-desc div:last-child {
    margin-top: 5px;
}

.hide-cart a {
    font-size: 16px;
    color: #000;
}

.modal-spinner {
    text-align: center;
    padding: 40px 0;
}

#user-email {
    background-image: url(/Views/Clients/18011-Glentel/WW/En/Content/images/email-sign.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
}

#user-password {
    background-image: url(/Views/Clients/18011-Glentel/WW/En/Content/images/password-sign.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
}

.text-form .has-error {
    display: none;
    margin-bottom: 20px;
}

.text-form .signin-error {
    color: #ff0000;
}

.text-form select {
    margin-bottom: 22px !important;
}

#cardholderName {
    background-image: url(/Views/Clients/18011-Glentel/WW/En/Content/images/email-sign.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
}

.ccFrame {
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 7px;
    width: 100%;
    height: 38px;
}

.accessories-title img {
    width: 50px;
    float: left;
    margin-left: 35px;
}

.accessories-title h1 {
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}

input.compare-plan {
    float: none !important;
}

.search-form {
    right: -343px;
}

/* --------------------------------------
    Chris's saatchi changes
   -------------------------------------- */

.banner-main-header-text {
    font-size: 57px;
    color: #fff;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    padding-top: 7%;
    margin-bottom: 35px auto;
    display: block;
}

.device-name-margin {
    margin: 0px;
}

.device-name-text {
    line-height: 25px;
    margin: 0px;
}

.device-link-text {
    margin: 0px;
    color: #000;
    text-transform: none;
}

.device-link-text:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #32a5db;
    text-decoration: none;
}

.store-details .store-name {
    font-size: 22px;
    font-weight: 500;
}

.text-form-payment .has-error {
    display: none;
    margin-bottom: 20px;
    color: #c90f0f;
    border-top: 4px solid #c90f0f;
    padding-top: 5px;
    font-size: 14px;
}

.show-desktop {
    display: block !important;
}

.show-mobile {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .show-desktop {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }
}

.btn, .ww-white-btn {
    font-family: 'Roboto Condensed', helvetica, arial, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.ww-white-btn {
    background: #fff;
    color: #000;
    border: none;
    padding: 9px 30px;
    margin: 25px auto;
    width: 200px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}
