// Location Index Page

.store-result-map #locationForm {
    z-index: 10;
}

#stores-result {

    & > .store-result {
        height: 390px;
    }

    & > .store-result {
        @media (max-width: 552px) {
            width: 100%;
        }
    }
}

.store-by-city {
    .city-title {
        margin-bottom: 7px;
    }
}

#locationForm {

    .input-group.has-error {
        border-bottom: 4px solid #c90f0f;
    }

    .help-block {
        font-size: 14px;
        color: #c90f0f;
    }
}

// Location City Details Page
.store-location-list-view .store-location {

    @media (min-width: @breakpoint-md) {
        height: 350px;
    }

    @media (max-width: @breakpoint-xs) {
        margin-top: 20px;
        border-bottom: 1px solid whitesmoke;
        padding-bottom: 20px;
    }
}

.store-location-list-view > .store-location:nth-last-of-type(odd) {
    @media (max-width: @breakpoint-sm) {
        clear: both;
    }
}
