/* ------------- GERNERAL OEM NAVBAR ----------------- */
.navbar {
  margin-bottom: 0px !important;
  border-bottom: none !important;
}
.river-container {
  margin: 0 50px;
}
.oem-header-bg {
  background-color: #2d2b27;
  height: 60px;
  width: 100%;
  border-bottom: none !important;
}
.oem-header-bg li {
  display: inline-block;
  padding-right: 40px;
  padding-top: 19px;
}
.oem-header-bg li a {
  color: #fff;
  font-size: 16px;
  padding-bottom: 18px;
}
.oem-header-bg li a:hover {
  border-bottom: 3px solid #fff;
  padding-bottom: 18px;
  text-decoration: none;
  transition: none;
}
.iphone-header-text {
  margin: 0px 1%;
  color: #ccc;
}
.active-link {
  text-decoration: none;
  border-bottom: 3px solid #fff;
  padding-bottom: 18px;
}
.oem-header-logo {
  height: 60px;
  width: auto;
  padding-top: 0px;
}
.no-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
/* --------------------------------------
    MEDIA
   -------------------------------------- */
@media screen and (max-width: 767px) {
  /* ============== OEM NAVBAR MOBILE ============== */
  .dropdown-oem {
    width: 100%;
    height: auto;
    padding-top: 0px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-family: Roboto Condensed: 400;
    border: none;
    padding-left: 40px;
    margin-bottom: -2px;
  }
  .oem-header-bg .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .oem-header-bg .dropdown-menu {
    margin-top: 0px;
    width: 100%;
    background-color: #2d2b27;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    border: none;
  }
  .oem-header-bg .fa-chevron-down {
    font-size: 16px;
    padding-top: 20px;
    padding-right: 15px;
  }
  .oem-header-bg li {
    display: block;
    padding-right: 0px;
    padding-top: 0px;
  }
  .oem-header-bg li a {
    color: #fff;
    font-size: 16px;
    padding: 18px 0;
    text-align: center;
    font-family: Roboto Condensed: 400;
    margin: 0 10px;
    border-bottom: none;
  }
  .oem-header-bg li a:hover {
    text-decoration: none;
    border-bottom: none;
    transition: none;
  }
  .dropdown-spacer-lines {
    border-bottom: 1px solid #4c4947 !important;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: transparent !important;
    color: #585653 !important;
  }
  .river-oem .container,
  .river-oem .img-col-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .oem-cta {
    padding: 10px 0 50px 0;
  }
  .oem-header-logo {
    height: 60px;
    width: auto;
    padding-top: 0px;
  }
  .river-text-container {
    padding: 0 20px 20px 20px;
  }
  .river-text-container {
    padding: 50px 0;
  }
  .show-desktop {
    display: none;
  }
  .show-mobile {
    display: block;
  }
}