// Rate Plan Landing Page
.find-plan-filters #amount {
    margin-bottom: 15px;
}

.find-plan-page .fp-type {

    .fd-advanced-wrap {
        padding-left: 0;
    }

    label {
        display: inline-block;
        margin-left: 0;
    }
}

// Rate Plan Comparison Tool Page
.plans-landing-page .bar-num {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.plans-landing-page .sidebar-content .col-xs-11 {
    padding-right: 0;
    padding-left: 0;
}

.plans-landing-page .sidebar-content .col-xs-1 {
    padding-left: 0;
}

.plans-landing-page .sidebar-content {
    margin-bottom: 40px;
}

// Rate Plan Compare Page
.plan-comparison tbody .td-bonus > div {
    text-align: left !important;

    & > span {
        font-weight: normal !important;

    }
}

// Rate Plan Details

.plan-details .plan-cols .col-md-6 {
    @media (min-width: 992px) {
        margin-bottom: 20px;
    }
}
.plan-details .t1-wrap h4 {
    margin-top: 0;
}


.plan-details .more-info > .col-md-6:nth-child(odd) {   
    @media (min-width: 992px) {
        clear: both;
    }
}