.ww-blue-btn.fp-submit {
  background: #32a5db;
  color: #fff;
  border: none;
  padding: 9px 40px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  text-transform: uppercase;
  width: 190px;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ww-blue-btn.fp-submit.fp-submit:hover {
  background: #000;
  color: #fff;
}
@media (max-width: 992px) {
  .form-group.fp-slider.row > .col-sm-12:first-child {
    margin-bottom: 30px;
  }
}
.form-group.fp-slider.row .slider > .dragger {
  width: 15px;
  height: 15px;
}
.find-device-options .fd-manufacturer {
  padding-left: 0px;
}
.find-device-options .fd-manufacturer .col-sm-6 {
  padding-left: 0;
}
button#compare-btn.ww-blue-btn {
  padding: 0 30px;
}
.plan-comparison td.tb-head .t5.text-muted {
  color: #9ba3a7;
}
.plan-comparison tbody .td-bonus > div {
  text-align: left !important;
}
.plan-comparison tbody .td-bonus > div > span {
  font-weight: normal !important;
}
@media (min-width: 992px) {
  .plan-details .plan-cols .col-md-6 {
    margin-bottom: 20px;
  }
}
.plan-details .t1-wrap h4 {
  margin-top: 0;
}
@media (min-width: 992px) {
  .plan-details .more-info > .col-md-6:nth-child(odd) {
    clear: both;
  }
}