.slider {
  width: auto;
}
.slider > .dragger {
  background: #32a5db;
  border: 1px solid #32a5db;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.slider > .dragger:hover {
  background: #000;
  border: 1px solid #000;
}
.slider > .track,
.slider > .highlight-track {
  background: #d5d5d5;
  height: 6px;
  border: 1px solid #d5d5d5;
}
.slider > .highlight-track {
  background-color: #A5D8EF;
  background: -webkit-linear-gradient(top, #A5D8EF, #66BCE4);
  background: -moz-linear-gradient(top, #A5D8EF, #66BCE4);
  background: linear-gradient(top, #A5D8EF, #66BCE4);
  border-color: #66BCE4;
}