/* --------------------------------------
   Fonts
   -------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

@font-face {
    font-family: 'myriad-set-pro_thin';
    src: url('../fonts/oem/myriad_set_pro/myriad-set-pro_thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/oem/myriad_set_pro/myriad-set-pro_thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oem/myriad_set_pro/myriad-set-pro_thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oem/myriad_set_pro/myriad-set-pro_thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oem/myriad_set_pro/myriad-set-pro_thin.svg#myriad-set-pro_thin') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'product-sans-light';
    src: url('../fonts/oem/product-sans/ProductSans-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/oem/product-sans/ProductSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oem/product-sans/ProductSans-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oem/product-sans/ProductSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oem/product-sans/ProductSans-Light.svg#myriad-set-pro_thin') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'product-sans-regular';
    src: url('../fonts/oem/product-sans/ProductSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/oem/product-sans/ProductSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oem/product-sans/ProductSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oem/product-sans/ProductSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oem/product-sans/ProductSans-Regular.svg#myriad-set-pro_thin') format('svg'); /* Legacy iOS */
}

/* --------------------------------------
   Base
   -------------------------------------- */

@import "_main";
@import "_simple-slider-touch";
@import "_checkout";

/* --------------------------------------
   Customs
   -------------------------------------- */
@import "_custom";
@import "_location";
@import "_rate";
@import "_content-page";
@import "_oem";
@import "_carriers";