/* --------------------------------------
   Fonts
   -------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

@font-face {
    font-family: 'myriad-set-pro_thin';
    src: url('../Fonts/oem/myriad_set_pro/myriad-set-pro_thin.eot'); /* IE9 Compat Modes */
    src: url('../Fonts/oem/myriad_set_pro/myriad-set-pro_thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Fonts/oem/myriad_set_pro/myriad-set-pro_thin.woff') format('woff'), /* Modern Browsers */
         url('../Fonts/oem/myriad_set_pro/myriad-set-pro_thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Fonts/oem/myriad_set_pro/myriad-set-pro_thin.svg#myriad-set-pro_thin') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'product-sans-light';
    src: url('../Fonts/oem/product-sans/ProductSans-Light.eot'); /* IE9 Compat Modes */
    src: url('../Fonts/oem/product-sans/ProductSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Fonts/oem/product-sans/ProductSans-Light.woff') format('woff'), /* Modern Browsers */
         url('../Fonts/oem/product-sans/ProductSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Fonts/oem/product-sans/ProductSans-Light.svg#myriad-set-pro_thin') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'product-sans-regular';
    src: url('../Fonts/oem/product-sans/ProductSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../Fonts/oem/product-sans/ProductSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Fonts/oem/product-sans/ProductSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('../Fonts/oem/product-sans/ProductSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Fonts/oem/product-sans/ProductSans-Regular.svg#myriad-set-pro_thin') format('svg'); /* Legacy iOS */
}
/* --------------------------------------
   Variables
   -------------------------------------- */
@breakpoint-xs: 360px;
@breakpoint-sm: 768px;
@breakpoint-md: 992px;
@breakpoint-lg: 1200px;
/* --------------------------------------
   Base
   -------------------------------------- */

@import "_carousel";
@import "_nav";
@import "_main";
@import "_simple-slider-touch";

/* --------------------------------------
   Customs
   -------------------------------------- */

@import "_custom";
@import "_location";
@import "_rate";
@import "_phone-compare";
@import "_carriers";